
.salesStyle {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 7px; 
    padding: 30px;
    background-color:#EFEFEF;
    margin-left: 3rem;
    margin-right: 2rem;
    width: 100%;
    margin:-1rem;
    margin-top: 15rem;
  .salesItem {
    text-align: center;
    margin-top: 1rem;
    align-items: center;
  }
  
  .title {
    font-family: 'Licorice', cursive;
    font-size: 60px;
    font-weight: 400;
    //margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
    
  }
  
  .text {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    width: 376px;
    text-align: center;
    font-family: 'Inika';
    margin: 1rem;
  }
  
  .salesItem img {
    width: 100%;
    max-width: 380px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
  
  }
  }
  
  
 

