.loginContainer {
    //max-width: 400px;
    margin: 0 auto;
    //margin-top: 6rem;
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    
  }
  
  h2 {
    font-family: 'Licorice', cursive;
    font-size: 128px;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 8rem;
  }
  
  .inputStyle {
    margin-bottom: 1rem;
    text-align: left;
    align-items: center;
    label {
      display: block;
      font-size: 20px;
      margin-bottom: 0.5rem;
      font-family: 'Inika';
    }
  
    input {
      width: 380px;
      padding: 1rem;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
     
    }
  }
  
  .buttonStyle {
    width: 180px; 
    padding: 0.8rem 1.2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Inika';
    margin-top: 1rem;
   
    &:first-of-type {
        background-color: #fff;
        color: black;
        border: 2px solid black;
        margin-right: 1rem; /* Add space between buttons */
      }
      .buttonStyle:last-of-type {
        background-color: #333;
        color: #fff;
        border: 2px solid #333;
        margin-left: 1rem; /* Add space between buttons */
      }
  }
  
 